<ion-card>
  <ion-card-content>
    <ion-list>
      <ion-item *ngIf="!isListPopulated">
        <h1>Não há produtos, adicione para visuaizar</h1>
      </ion-item>
      <ion-item id="list-header">
        <ion-grid>
          <ion-row class="ion-justify-content-between">
            <ion-col>
              <ion-text>Nome do Produto</ion-text>
            </ion-col>
            <ion-col>
              <ion-text>Categoria</ion-text>
            </ion-col>
            <ion-col>
              <ion-text>Preço de Vendas</ion-text>
            </ion-col>
            <span>Opções</span>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item *ngFor="let product of products">
        <ion-grid>
          <ion-row class="ion-justify-content-between">
            <ion-col>
              <ion-text>
              {{ product.name }}
              </ion-text>
            </ion-col>
            <ion-col>
              {{ product.category.name }}
            </ion-col>
            <ion-col>
              R$ {{ product.salePrice }}
            </ion-col>
            <div>
              <ion-button
                routerDirection="root" [routerLink]="['edit', product.id ]" routerLinkActive="selected"
              > <ion-icon name="create"></ion-icon> </ion-button>
                <ion-button> <ion-icon name="add"></ion-icon> </ion-button>
            </div>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
