<ion-card>
  <ion-card-header class="ion-justify-content-between">
    <h2>Criar produto</h2>
    <ion-buttons>
      <ion-button><ion-icon name="close"></ion-icon></ion-button>
    </ion-buttons>
  </ion-card-header>
  <ion-content>
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input
        type="text"
        [(ngModel)]="product.name"
      ></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Preço de Venda</ion-label>
          <ion-input
            type="number"
            [(ngModel)]="product.salePrice"
          ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Preço de Custo</ion-label>
          <ion-input
            type="number"
            [(ngModel)]="product.costPrice"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-item>
      <ion-label position="floating">Estoque inicial</ion-label>
      <ion-input
        type="number"
        [(ngModel)]="product.stock"
      ></ion-input>
    </ion-item>
    <!-- CATEGORY SELECTION -->
    <ion-item>
      <ion-select
        #select
        (ionChange)="selectedCategory($event)"
        [(ngModel)]="product.category"
        interface="popover"
        placeholder="Selecione categoria"
      >
        <ion-select-option *ngFor="let item of categories" [value]="item">
          {{ item.name }}
        </ion-select-option>
        <ion-select-option value="new">
          <ion-icon name="add"></ion-icon>
          Nova categoria
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item id="category-creation-item" [hidden]="!showNewCategoryInput">
      <ion-label>Criar categoria</ion-label>
      <ion-input
        type="text"
        [(ngModel)]="product.category.name"
      ></ion-input>
      <ion-button (click)="storeCategory()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-content>
</ion-card>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="submitToStoreProduct()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
