<ion-item >
  <ion-label>Tipo da movimentação</ion-label>
  <ion-select
    #select
    [(ngModel)]="movementation.type"
    interface="popover"
    placeholder="Selecione tipo da movimentação"
  >
    <ion-select-option *ngFor="let item of types" [value]="item">
      {{ item.name }}
    </ion-select-option>
  </ion-select>
</ion-item>
<ion-item>
  <ion-label>Custo da Movimentação</ion-label>
  <ion-input
    type="currency"
    [(ngModel)]="movementation.cost"
    placeholder="Custo por unidade"
  ></ion-input>
</ion-item>
