<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro de produto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-card>
      <ion-card-header>
        <ion-card-title></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form
          [formGroup]="formData"
          (ngSubmit)="onSubmit($event)"
        >
          <ion-label>Nome</ion-label>
          <ion-input formControlName="name" type="text"></ion-input>
          <ion-label>Preço</ion-label>
          <ion-input formControlName="price" type="number"></ion-input>
          <ion-label>Categoria</ion-label>
          <ion-select formControlName="category">
            <!-- CATEGORIES OPTIONS -->

          </ion-select>

          <ion-button type="submit">Submit</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </ion-grid>

</ion-content>
