<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>RC Store</ion-list-header>

          <!-- <ion-menu-toggle auto-hide="false" *ngFor="let p of sideMenu.pages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle> -->
        </ion-list>
        <hr>

        <ion-list id="inbox-list">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of sideMenu.pages; let i = index">
              <ion-item style="cursor: pointer;"
                  lines="none" detail detailIcon="{{ p.showDetails ? 'chevron-down' : 'chevron-forward' }}"
                  (click)="toggleDetails(p, $event)">
                  <ion-icon slot="start" [name]="p.icon"></ion-icon>
                  <ion-label color="dark">{{ p.title }}</ion-label>
              </ion-item>
              <div *ngIf="p.showDetails && p.subPages != null">
                  <ion-list style="border-bottom: none;">
                      <ion-item ion-item *ngFor="let subP of p.subPages" [routerLink]="[p.url + subP.url]" lines="none">
                          <ion-icon color="dark" slot="start" [ios]="subP.icon + '-outline'" [md]="subP.icon">
                          </ion-icon>
                          <ion-label color="dark">{{ subP.title }}</ion-label>
                      </ion-item>
                  </ion-list>
              </div>
              <hr>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
